.hero-container{
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    align-items: center;
    justify-content: center;
  }
}

.logo-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-top: 5rem;

  img{
    width: 72%;
    z-index: 2;

    @media screen and (max-width: 900px) {
      width: 90%;
    }
  }

  @media screen and (max-width: 900px) {
    // margin-top: 28rem;
    align-items: center;
  }

  @media screen and (max-width: 450px) {
    margin-top: 16rem;
  }

  .logo-scroll-origin{
    position: absolute;
    left: 60%;
    top: 20%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    // background-color: rgb(150, 59, 59);
    box-shadow: 0 0 0 1000px rgb(0, 0, 0);
    z-index: 1;
  }
}

.scroll-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;

  .scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 103px;
    border-radius: 50%/50%;
    border: 2px solid var(--color-secondary);
    z-index: 2;

    @media screen and (max-width: 450px) {
      width: 80px;
      height: 80px;
    }

    p{
      color: var(--color-secondary);
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: -0.01em;
    }
  }

  @media screen and (max-width: 900px) {
    margin-top: 10rem;
  }

  
}