.enjoy__buttonMain{
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;

  p{
    margin: auto auto;
    position: absolute;
    margin-left: 50px;
    font-weight: 600;
    background-color: var(--color-offBlack);
    box-shadow: 0 0 0 10px rgba($color: #181818, $alpha: 1.0);
    width: 100px;
    color: var(--color-secondary);
    
    @media screen and (max-width: 450px){
      width: unset;
    }
  }
}