.section__margin{
  margin: 4rem 6rem;
  overflow: visible ;

  @media screen and (max-width: 900px) {
    margin: 2rem 4rem;
  }

  @media screen and (max-width: 450px){
    margin: unset;
  }
}

.section__padding{
  padding: 4rem 6rem;

  @media screen and (max-width: 900px) {
    padding: 2rem 4rem;
  }

  @media screen and (max-width: 450px){
    padding: unset;
  }
}

.section__heading{
  color: var(--color-secondary);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 30px;
  line-height: 64px;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}

.bgLight{
  background-color: var(--color-offBlack);
}

.scale-in-tl {
	-webkit-animation: scale-in-tl 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: scale-in-tl 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}

 @-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}


