.section__margin{
  margin: 4rem 6rem;

  @media screen and (max-width: 900px) {
    margin: 2rem 4rem;
  }

  @media screen and (max-width: 450px){
    margin: unset;
  }
}

.section__padding{
  padding: 4rem 6rem;

  @media screen and (max-width: 900px) {
    padding: 2rem 4rem;
  }

  @media screen and (max-width: 450px){
    padding: unset;
  }
}

.section__heading{
  color: var(--color-secondary);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 30px;
  line-height: 64px;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}

.bgLight{
  background-color: var(--color-offBlack);
}